@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
:root{
    background: #222;
    color:#a5a6ab;
}
h2{
    color:#e93;
    text-decoration: underline;
}
header img{
    background: #222;
    width: 500px;
    height:100px;
}
body{
    display: grid;
    place-items: center;
}
header,main,footer{
    width: fit-content;
    background: #738;

}
footer{
    background: #222;
}
main{
    width: 1250px;
    padding:20px
}
nav{
    background:#738;
    border: 3.5px solid #e93;
    border-radius: 5px;
    width: 700px;
    margin: 10px;

}
nav ul{
    display: flex;
    list-style: none;
    margin-left :180px;
}
nav li {
    margin-left: 10px;
}
nav a{
    text-decoration: none;
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
    color:#9e6;
    margin-left: 20px;
    transition: .5s;
}
nav a:hover{
    text-decoration: none;
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
    color:black;
    background: white;
    border-radius: 10px;
}
main{
    border-radius: 20px;
    width: 900px;
}
article{
    display: flex;
}
hr {
    margin-top: 20px;
    height:5px;
    background: #a5a6ab;
    border: 2px solid #aaa;

}
article p {
    padding:10px;
    margin-bottom: 10px;
    margin-right: 20px;
}
article img {
    width:250px;
    height: 100px;
    border: 5px solid #000;
    border-radius: 10px;
}
img:hover,nav:hover,main:hover,footer:hover{
    transition: .5s;
    transform: scale(1.2);
}
p{
    font-size: 20px;
    
}
p a {
    text-decoration: none;
    color:#9e6;
    transition: .5s;
}
p a:hover {
    text-decoration: none;
    color:black;
    background: white;
    border-radius: 5px;
}
.contact{
    color:#9e6;
    display: grid;
    place-items: center;
}
form{
    background:rgba(46, 46, 46, 0.815);
    padding:20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}
label{
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
}
p label{
    display: flex;
}
.typing{
    width: 360px;
}